@model MSIdentity.Models.ProductViewModel
@*@model PagedList.IPagedList<@model.ProductList>*@
@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")
@Styles.Render("~/Content/Site.css")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/architecture.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


@{
    ViewBag.Title = "Products";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Ajax.BeginForm

            ("Index", "Product",
            new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContent" }))
{
    <div id="search-area">
        <div style="margin-left: 10px;">
            <p>
                @*@Html.ActionLink("Create New", "Create")*@
            </p>

            <p>
                Product Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @id = "searchInput" })
                @Html.DropDownList("CategoryId", Model.Categories, "--Select Category--", new { id = "mySelect" })

                <input type="submit" value="Search" />   <input type="button" id="reset" value="Reset" />
            </p>

        </div>
    </div>
    <br />
    <div id="grid-area">

        @Html.Partial("_Product", Model)
    </div>
}
