@model MSIdentity.Models.ProductViewModel
@*@model PagedList.IPagedList<@model.ProductList>*@
@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")
@Styles.Render("~/Content/Site.css")
<link href="~/Content/architecture.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>

<script src="~/Scripts/architecture.js"></script>

@{
    ViewBag.Title = "Products";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
        <button id="yes">Yes</button><button id="no">No</button>
    </p>
</div>
@using (Ajax.BeginForm

            ("Index", "Product",
            new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContent" }))
{
    <div id="search-area">
        <div style="margin-left: 10px;">
            <p>
                @*@Html.ActionLink("Create New", "Create")*@
            </p>

            <p>
                Product Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @id = "searchInput" })
                @Html.DropDownList("CategoryId", Model.Categories, "--Select Category--", new { id = "mySelect" })

                <input type="submit" value="Search" />   <input type="button" id="reset" value="Reset" />
            </p>

        </div>
    </div>
    <br />
    <div id="grid-area">

        @Html.Partial("_Product", Model)
    </div>
}
