@model PagedList.IPagedList<MSIdentity.Models.Product>
@using PagedList.Mvc;


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@Styles.Render("~/Content/PagedList.css")
@Styles.Render("~/Content/Site.css")
<style>
    .table {
        border: 1px solid black;
    }

    td {
        height: 40px;
    }
</style>

@{
    ViewBag.Title = "Products";
}


<div id="main" style="border-style: solid; border-width: 1px; margin-top:20px;">
    <div style="margin-left: 10px;">
        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        @using (Ajax.BeginForm("Index", "Product", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContent" }))
        {

            <p>
                Product Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                @Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, "--Select Category--", new { id = "mySelect" })
                <input type="submit" value="Search" />
            </p>

        }
    </div>
</div>
<br />
<div style="border-style: solid; border-width: 1px; margin-top:10px;">
    <p style="margin-left: 10px;margin-top: 15px;">Total Number of records: @ViewBag.TotalNoOfRec</p>
    <br />
    @Html.Partial("_Product",Model)
</div>

@section scripts{

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


}