@model MSIdentity.Models.ProductViewModel
@*@model PagedList.IPagedList<@model.ProductList>*@
@using PagedList.Mvc;




@Styles.Render("~/Content/PagedList.css")
@Styles.Render("~/Content/Site.css")
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/architecture.js"></script>
</head>


@{
    ViewBag.Title = "Products";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="search-area">
    <div style="margin-left: 10px;">
        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        @using (Ajax.BeginForm

            ("Index", "Product", 
        
            new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContent" }))
        {

            <p>
                Product Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                @*@Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, "--Select Category--", new { id = "mySelect" })*@
                 @Html.DropDownList("CategoryId", (SelectList)Model.Categories, "--Select Category--", new { id = "mySelect" })
                @*<input type="hidden" name="sortBy" value=@ViewBag.sortBy />
                <input type="hidden" name="sortBy1" value=@ViewBag.sortBy />*@

                <input type="submit" value="Search" />
            </p>

            
        }
    </div>
</div>
<br />
<div id="grid-area">
    <p>Total Number of records: @Model.TotalNoOfRec</p>
    <br />
    @Html.Partial("_Product", Model.ProductList)
</div>

@section scripts{

    @*@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        @Scripts.Render("~/Scripts/architecture.js")*@




}